@font-face {
	font-family:'lr_ot4';src:url('../fonts/LandRoverWeb-Bold.eot');src:url('../fonts/LandRoverWeb-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/LandRoverWeb-Bold.woff') format('woff'),url('../fonts/LandRoverWeb-Bold.ttf') format('truetype');font-style:normal;font-weight:bold;
}

@font-face {
	font-family:'lr_ot4';src:url('../fonts/LandRoverWeb-Medium.eot');src:url('../fonts/LandRoverWeb-Medium.eot?#iefix') format('embedded-opentype'),url('../fonts/LandRoverWeb-Medium.woff') format('woff'),url('../fonts/LandRoverWeb-Medium.ttf') format('truetype');font-style:normal;font-weight:normal;
}

@font-face {
	font-family:'Avenir';src:url('../fonts/Avenir_Black.eot');src:url('../fonts/Avenir_Black.eot?#iefix') format('embedded-opentype'),url('../fonts/Avenir_Black.woff') format('woff'),url('../fonts/Avenir_Black.ttf') format('truetype');font-style:normal;font-weight:900;
}

@font-face {
	font-family:'Avenir';src:url('../fonts/Avenir_Heavy.eot');src:url('../fonts/Avenir_Heavy.eot?#iefix') format('embedded-opentype'),url('../fonts/Avenir_Heavy.woff') format('woff'),url('../fonts/Avenir_Heavy.ttf') format('truetype');font-style:normal;font-weight:bold;
}

@font-face {
	font-family:'Avenir';src:url('../fonts/Avenir_Medium.eot');src:url('../fonts/Avenir_Medium.eot?#iefix') format('embedded-opentype'),url('../fonts/Avenir_Medium.woff') format('woff'),url('../fonts/Avenir_Medium.ttf') format('truetype');font-style:normal;font-weight:500;
}

@font-face {
	font-family:'Avenir';src:url('../fonts/Avenir_Roman.eot');src:url('../fonts/Avenir_Roman.eot?#iefix') format('embedded-opentype'),url('../fonts/Avenir_Roman.woff') format('woff'),url('../fonts/Avenir_Roman.ttf') format('truetype');font-style:normal;font-weight:normal;
}

@font-face {
	font-family:'Avenir';src:url('../fonts/Avenir_Roman-Oblique.eot');src:url('../fonts/Avenir_Roman-Oblique.eot?#iefix') format('embedded-opentype'),url('../fonts/Avenir_Roman-Oblique.woff') format('woff'),url('../fonts/Avenir_Roman-Oblique.ttf') format('truetype');font-style:italic;font-weight:normal;
}

@font-face {
	font-family:'tinos';src:url('../fonts/tinos-regular-webfont.eot');src:url('../fonts/tinos-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/tinos-regular-webfont.woff2') format('woff2'),url('../fonts/tinos-regular-webfont.woff') format('woff'),url('../fonts/tinos-regular-webfont.ttf') format('truetype'),url('../fonts/tinos-regular-webfont.svg#tinosregular') format('svg');font-weight:normal;font-style:normal;
}

